.video_container{
    position: relative;    
}

video{
    height: auto;
    vertical-align: middle;
    width: 100%;
}
.overlay-desc{
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mediafont {
    margin:20%;
    color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
  }
  /* 字型類css */
.font{
    color: white;
    font-family: 'Orbitron';
    font-weight:1000;
  }
.font_title{
    color: white;
    font-family: 'Orbitron';
    font-weight:1000;
    font-size: 5.5em;
    text-align: center;
}
.font_arrow{
    color: white;
    font-family: 'Orbitron';
    font-weight:1000;
    font-size: 5.5em;
    top: 30px;
    right: 15px;
  }
.font_price{
    color: white;
    font-family: 'Orbitron';
    font-weight:1000;
    margin-top: 80px;
    font-size: 2.5em;
  }
.loginalert{
    width:70%;
    /* margin:0px auto;    */
}

.row_2{
    height: 100vh;
}
.custom-select{
    width:110px;
    margin:7px;
}
.OG_input{
    font-family: 'Orbitron';
}
.TG_input{
    font-family: 'Orbitron';
}

.containe-fluid{
    background-image: linear-gradient(to top, #FEDFE1 0%, #CC543A 100%);
    /* background-image: url("/image/BK.jpg"); */
    background-size:auto;
}
.logo{
    margin-top: 175px;
    width: 300px;
    height: 300px;
    opacity:0.5;
} 
body{
    overflow-x: hidden;
}
