doctype html
html(lang="en")
	head
		block head
			meta(charset="utf-8")
			meta(name="viewport", content="width=device-width, initial-scale=1")
			title Steve_nodejs
			// Bootstrap core CSS
			link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
			link(href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
			//vue.js
			script(src="/vue/dist/vue.min.js")
			//jQuery
			script(src="/jquery/dist/jquery.min.js")
			// Bootstrap js
			script(src="/tether/dist/js/tether.min.js")
			script(src="/bootstrap/dist/js/bootstrap.min.js")
	body
		block body
			block nav_bar
				include nav_bar
			block left_pills
				include left_pills
			block carousel
				include carousel








