link(href="/stylesheets/right_li.css", rel="stylesheet")
nav
  ul
    li
      a(href='#main') one
    li
      a(href='#secondary') two
    li
      a(href='#third') one
    li
      a(href='#fourth') two
    li
      a(href='#fifth') one
